#pictureDiv {
    min-width: 40%;
    width: 50%;
    display: flex;
    height: 80%;
}


#hiH2 {
    width: 100%;
    text-align: left;
    font-weight: normal;
    margin: auto;
    height: 7vh;
    font-size: 40px;
    padding: 0 0 0 0;
    color: var(--variableFontColor);
}

.personalInfoSection {
    display: flex;
    padding-left: 15vw;
    padding-right: 15vw;
    padding-top: 20vh;
    width: 100%;
}

.aboutDivClass {
    margin-left: 15vw;
    margin-right: 15vw;
    padding-top: 9vh;
    width: auto;
    margin-top: 12vh;
    border-top: 1px solid;
}

.aboutDescriptionDiv {
    display: flex;
}

#aboutTextDiv {
    display: grid;
    width: 50%;
    row-gap: 15px;
}

p {
    text-align: justify;
    color: var(--variableFontColor);
    font-size: 0.8em;
    line-height: 1.4;
}

#iconsDiv,
#mailDiv {
    text-align: center;
    margin-top: 3vh;
}

.link_with_icon {
    text-decoration: none;
    color: inherit;
    margin-right: 2em;
    font-size: 0.9em;
}

.fa-gmail {
    content: url('../images/gmail.svg');
    height: 24px;
    width: 24px;
}

#techLeft,
#techMiddle,
#techRight {
    display: inline-block;
    width: 33%;
}

#techMiddle {
    padding-left: 3%;
}

.aboutLabelTitle {
    font-weight: bold;
    font-size: 1em;
    margin-bottom: 2vh;
    margin-top: 0;
}

.aboutLabelSubtitle {
    font-size: 0.8em;
    margin-bottom: 15px;
    margin-top: 0;
}

.aboutLabelSubSubtitle {
    font-size: 0.7em;
    margin-top: 0;
}

@media (max-width: 1100px) {
    #pictureDiv {
        display: inline-block;
        text-align: center;
        width: 100%;
        margin-bottom: 2em;
    }

    .personalInfoSection {
        display: block;
        padding-top: 15vh;
        font-size: 1em;
        padding-left: 10vw;
        padding-right: 10vw;
    }

    .personalInfoSection p {
        margin-top: 10px;
    }

    #aboutTextDiv {
        row-gap: 3vh;
        width: 100%;
    }

    p {
        font-size: 1.2em;
        font-weight: lighter;
    }

    #h2Div {
        width: 100%;
        text-align: center;
    }

    #hiH2 {
        height: 30px;
        font-size: 50px;
    }

    .link_with_icon {
        font-size: 1.5em;
    }

    #mailDiv {
        text-align: center;
        margin-top: 2vh;
        margin-bottom: 7vh;
    }

    .aboutDivClass {
        margin-left: 10vw;
        margin-right: 10vw;
        padding-top: 5vh;
        margin-top: 40px;
        border-top: 2px solid;
    }

    #techLeft,
    #techMiddle,
    #techRight {
        display: grid;
        width: 100%;
        margin-bottom: 2vh;
    }

    #techMiddle {
        padding-left: 0;
    }

    .aboutDescriptionDiv {
        display: block;
        margin-top: 3vh;
        line-height: 40px;
    }

    .aboutLabelSubtitle {
        font-size: 1.6em;
        margin-bottom: 0px;
    }

    .aboutLabelSubSubtitle {
        font-size: 1.2em;
        margin-bottom: 20px;
    }

    .aboutLabelTitle {
        font-size: 2.6em;
    }
}