@font-face {
    font-family: Mazzard;
    src: url("fonts/MazzardH-ExtraLight.otf") format("opentype");
}

@font-face {
    font-family: MazzardBold;
    src: url("fonts/MazzardH-Bold.otf") format("opentype");
}

:root {
    --variableBackgroundColor: #2f2541;
    --variableFontColor: #e9e9ed;
    --variableShinyColor: #ffc21a;
    --variableFontText: 'Commissioner';
    --variableFontTitle: 'El Messiri';
}



body {
    font-family: var(--variableFontText), sans-serif;
    font-size: 20px;
    line-height: 1.5;
    font-weight: 300;
}

.title-font {
    font-family: var(--variableFontTitle);
}

* {
    box-sizing: border-box;
}

.niceButton {
    background-color: var(--variableShinyColor);
    border-color: var(--variableShinyColor);
    border-width: 1px;
    border-radius: 3px;
    border-style: solid;
    color: var(--variableBackgroundColor);
    font-family: var(--variableFontText), sans-serif;
}

.niceButton:hover {
    background-color: var(--variableBackgroundColor);
    color: var(--variableShinyColor);
    cursor: pointer;
}