@font-face {
    font-family: Mazzard;
    src: url("fonts/MazzardH-ExtraLight.otf") format("opentype");
}

body {
    background: var(--variableBackgroundColor);
    font-family: Mazzard, sans-serif;
}

.title-font {
    font-family: 'Georgia';
}

#presentationDiv {
    padding-left: 30%;
    padding-right: 30%;
    padding-top: 20%;
    padding-bottom: 20%;
    text-align: center;
    color: #ffffff;
}