@font-face {
    font-family: Mazzard;
    src: url("fonts/MazzardH-ExtraLight.otf") format("opentype");
}

@font-face {
    font-family: MazzardBold;
    src: url("fonts/MazzardH-Bold.otf") format("opentype");
}

:root {
    --variableBackgroundColor: #351028;
    --variableFontColor: #e9e9ed;
    --variableFontText: Karma;
    --variableFontTitle: Commissioner;
}



body {
    font-family: var(--variableFontText), sans-serif;
}

.title-font {
    font-family: var(--variableFontTitle), sans-serif;
}

#presentationDiv {
    padding-left: 30%;
    padding-right: 30%;
    padding-top: 10%;
    padding-bottom: 20%;
    text-align: center;
    color: #ffffff;
}