#headerDiv {
    position: fixed;
    display: flex;
    align-items: center;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 67%;
    background: var(--variableBackgroundColor);
    width: 100%;
    top: 0;
    z-index: 1;
}

#headerButtonsDiv {
    align-self: center;
    text-align: right;
    margin-left: auto;
    margin-right: 3em;
}

.headerButton {
    background-color: inherit;
    color: #ffffff;
    border: none;
    text-decoration: none;
}

@media(max-width: 650px) {
    .headerButton {
        font-size: 25px;
    }
}

#nameHeader {
    color: #ffffff;
    margin-left: 1em;
}

#nameHeaderLink {
    color: #ffffff;
    text-decoration: none;
}