body {
    background-color: var(--variableBackgroundColor);
}

html {
    scroll-behavior: smooth;
}

.presentationText {
    display: block;
    text-align: justify;
    font-size: 1.5vw;
    font-weight: 100;
}

img {
    min-width: 10em;
    max-width: 100%;
    display: block;
    background: #ddd;
    border-radius: 2%;
}

p {
    font-size: .9375em;
    font-style: normal;
    font-weight: 400;
    color: #fff;
    line-height: 1.5;
    margin: 0 0 .5em 0;
}

.model-hed-link {
    color: #fff;
    text-decoration: none;
}

.model-hed {
    width: 100%;
    text-align: center;
    margin-top: 40%;
}

.job-description {
    margin-top: 20%;
    width: 100%;
    text-align: center;
}

#presentationDiv {
    text-align: center;
    color: var(--variableFontColor);
    height: auto;
    width: 100%;
    position: relative;
    padding-top: 10vh;
    padding-bottom: 0vw;
    padding-left: 30vw;
    padding-right: 30vw;
    flex: 1;
}

.blockDiv {
    height: 25vh;
    display: flex;
}

#latest-projects {
    padding-left: 30vw;
    padding-right: 30vw;
    text-align: center;
    padding-top: 10%;
    padding-bottom: 5%;
    font-size: 25px;
}

#services {
    padding-left: 30vw;
    padding-right: 30vw;
    text-align: center;
    padding-top: 10%;
    padding-bottom: 2%;
    font-size: 25px;
}

#presentationH1 {
    letter-spacing: 0.03em;
    font-size: 3vw;
    padding-left: 5%;
    padding-bottom: 0px;
    margin-block-end: 0px;
    height: 12vh;
}

.lookbook-gallery {
    padding-right: 10%;
    padding-left: 10%;
}

.lookbook-grid {
    display: grid;
    column-gap: 30px;
    row-gap: 30px;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
}

.link_with_icon_index {
    text-decoration: none;
    color: inherit;
    margin-right: 0.5em;
    font-size: 24px;
    text-align: center;
    display: inline-block;
    width: 100%;
}

.link_with_icon_index img {
    width: 100%;
}

.work_grid_cell .overlay {
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-left: 20%;
    padding-right: 20%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent shadow */
    color: white;
    text-align: center;
    justify-content: center;
    align-items: center;
    opacity: 0; /* Start with the overlay hidden */
    transition: opacity 0.3s ease; /* Smooth transition */
}

/*
.work_grid_cell:hover img {
    transform: scale(1.05); /* Slightly enlarge image on hover
}
*/

.work_grid_cell:hover .overlay {
    opacity: 0.9; /* Show the overlay on hover */
    background-color: black;
}

.work_grid_cell {
    transition: transform 0.3s ease; /* Smooth scaling on hover */
    position: relative;
}


.model {
    text-align: center;
    display: inline-block;
    width: 100%;
    margin: 0; /* before wasn't included */
    position: relative; /* before wasn't included */
}

#contactMeButton {
    height: 35px;
    text-align: center;
    padding: 9px 15px;
}

.services-gallery {
    padding-right: 10%;
    padding-left: 10%;
}

.services-grid {
    display: grid;
    column-gap: 60px;
    row-gap: 10px;
    grid-template-rows: auto auto auto auto;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.logo_image {
    aspect-ratio: 1 / 1;
}

.service-title {
    font-size: 20px;
}

.service-description {
    font-size: 15px;
    text-align: justify;
    font-family: "Roboto";
}



@media (max-width: 1100px) {
    .lookbook-grid {
        grid-template-rows: auto;
        grid-template-columns: 1fr;
    }

    #presentationDiv {
        padding-left: 10vw;
        padding-right: 10vw;
    }

    #services {
        padding-left: 10vw;
        padding-right: 10vw;
    }

    .presentationText {
        display: block;
        text-align: justify;
        font-size: 4vw;
    }

    #presentationH1 {
        letter-spacing: 0.03em;
        font-size: 8vw;
        padding-left: 0;
        text-align: left;
        height: 7vh;
    }

    .blockDiv {
        height: 40vh;
    }

    #contactMeButton {
        font-size: 4vw;
    }

    #latest-projects {
        padding-top: 2%;
        font-size: 45px;
    }

    #services {
        font-size: 45px;
    }

    .services-grid {
        display: grid;
        grid-template-rows: auto auto;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "item1 item2"
            "item5 item6"
            "item3 item4"
            "item7 item8";
    }

    .services-grid div:nth-child(1) { grid-area: item1; }
    .services-grid div:nth-child(2) { grid-area: item2; }
    .services-grid div:nth-child(3) { grid-area: item3; h3 {margin-top: 10%;} }
    .services-grid div:nth-child(4) { grid-area: item4; h3 {margin-top: 10%;} }
    .services-grid div:nth-child(5) { grid-area: item5; }
    .services-grid div:nth-child(6) { grid-area: item6; }
    .services-grid div:nth-child(7) { grid-area: item7; }
    .services-grid div:nth-child(8) { grid-area: item8; }

    .service-description {
        font-size: 1vw;
    }

    .service-title {
        font-size: 4vw;
    }

}