body {
    background-color: var(--variableBackgroundColor);
}

#presentationText {
    display: flex;
    text-align: justify;
    font-size: 3vh;
}

img {
    min-width: 10em;
    max-width: 100%;
    display: block;
    background: #ddd;
    border-radius: 2%;
}

.model {
    margin: 0;
    position: relative;
}


p {
    font-size: .9375em;
    font-style: normal;
    font-weight: 400;
    color: #fff;
    line-height: 1.5;
    margin: 0 0 .5em 0;
}

.model-hed-link {
    color: #fff;
    text-decoration: none;
}

#presentationDiv {
    text-align: center;
    color: #ffffff;
    height: auto;
    width: 100%;
    position: relative;
    padding-top: 25vh;
    padding-bottom: 0vw;
    padding-left: 30vw;
    padding-right: 30vw;
    font-size: 100%;
    flex: 1;
}

#blockDiv {
    height: 25vh;
    display: flex;
}

#presentationH1 {
    letter-spacing: 0.03em;
    font-size: 300%;
    padding-left: 5%;
    padding-bottom: 0px;
    margin-block-end: 10px;
    text-align: left;
}

.lookbook-gallery {
    padding-right: 10%;
    padding-left: 10%;
    padding-top: 10%;
}

.lookbook-grid {
    display: grid;
    column-gap: 30px;
    row-gap: 30px;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
}

.link_with_icon_index {
    text-decoration: none;
    color: inherit;
    margin-right: 0.5em;
    font-size: 24px;
    text-align: center;
    display: inline-block;
    width: 100%;
}

.link_with_icon_index img {
    width: 100%;
}

.model {
    text-align: center;
    display: inline-block;
    width: 100%;
}


.model--caption {
    display: none;
}

#contactMeButton {
    height: 35px;
    text-align: center;
    padding: 9px 15px;
}

@media (max-width: 1100px) {
    .lookbook-grid {
        grid-template-rows: auto;
        grid-template-columns: 1fr;
    }

    #presentationDiv {
        padding-left: 12vw;
        padding-right: 12vw;
        font-size: 120%;
    }

    #blockDiv {
        height: 25vh;
    }

}