@font-face {
    font-family: Mazzard;
    src: url("fonts/MazzardH-ExtraLight.otf") format("opentype");
}

:root {
    --variableBackgroundColor: #351028;
}

body {
    min-height: 100vh;
    background: var(--variableBackgroundColor);
    font-family: Mazzard, sans-serif;
}

.title-font {
    font-family: 'Times New Roman';
}

#headerDiv {
    position: fixed;
    display: flex;
    align-items: center;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 67%;
    background: var(--variableBackgroundColor);
    width: 100%;
    top: 0;
    z-index: 1;
}

#headerButtonsDiv {
    align-self: center;
    text-align: right;
    margin-left: auto;
    margin-right: 3em;
}

.headerButton {
    background-color: inherit;
    color: #ffffff;
    border: none;
}

#nameHeader {
    color: #ffffff;
    margin-left: 1em;
}

#presentationDiv {
    padding-left: 30%;
    padding-right: 30%;
    padding-top: 20%;
    padding-bottom: 20%;
    text-align: center;
    color: #ffffff;
}



/* For photo gallery */

/*Inside lookbook galler: */

.a11y-only {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.a11y-only.focusable:active,
.a11y-only.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

img {
    min-width: 10em;
    max-width: 100%;
    display: block;
    background: #ddd;
    border-radius: 2%;
}


@media(min-width: 45em) {
    .lookbook-grid {
        display: flex;
        flex-wrap: wrap;
    }

    .model {
        flex: 47.5%;
        margin: .5%;
    }
}

@media(min-width: 65em) {
    .model {
        flex: 24.25% 0;
        margin: .25%;
    }

    @supports(display: grid) {
        .lookbook-grid {
            display: grid;
            grid-gap: .5em;
            grid-template-columns: repeat(4, minmax(200px, 1fr));
        }

        .model {
            margin: 0;
        }

        /*
        .model:nth-of-type(2n-1) {
            grid-row-end: span 2;
            grid-column-end: span 2;
        }*/
    }
}

/* END */









/*


*/