:root {
    --variableBackgroundColor: #351028;
}

#projectDescriptionDiv {
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 10%;
    padding-bottom: 5%;
    color: #ffffff;
}

/* For photo gallery */

/*Inside lookbook galler: */

.a11y-only {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.a11y-only.focusable:active,
.a11y-only.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

img {
    max-width: 100%;
    display: block;
    background: #ddd;
    border-radius: 2%;
}


@media(min-width: 45em) {
    .lookbook-grid {
        display: flex;
        flex-wrap: wrap;
    }

    .model {
        flex: 47.5%;
        margin: .5%;
    }
}

@media(min-width: 65em) {
    .model {
        flex: 24.25% 0;
        margin: .25%;
    }

    @supports(display: grid) {
        .lookbook-grid {
            display: grid;
            grid-gap: .5em;
            grid-template-columns: repeat(4, minmax(200px, 1fr));
        }

        .model {
            margin: 0;
        }

        /*
        .model:nth-of-type(2n-1) {
            grid-row-end: span 2;
            grid-column-end: span 2;
        }*/
    }
}

/* END */









/*


*/