body {
    background: var(--variableBackgroundColor);
    color: var(--variableFontColor);
}

#projectDescriptionDiv {
    padding-left: 12%;
    padding-right: 12%;
    padding-top: 5%;
    padding-bottom: 5%;
    color: #ffffff;
}

#logoTop {
    width: 100%;
}

#logoTopDiv {
    padding-top: 10%;
    padding-left: 20%;
    padding-right: 20%;
    padding-bottom: 10%;
    height: auto;
}

#projectDiv {
    padding-top: 5%;
}

#overviewDiv {
    display: flex;
    margin-top: 5%;
    padding-top: 2%;
    border-top: 0.5px solid var(--variableFontColor);
    margin-bottom: 10vh;
}

#overviewText {
    width: 80%;
    padding-right: 5vw;
}

#techStack {
    background-color: var(--variableShinyColor);
    margin-top: 5%;
    width: 20vw;
    color: var(--variableBackgroundColor);
    padding-top: 3vh;
    padding-bottom: 3vh;
    padding-right: 2.5vw;
    padding-left: 2.5vw;
    height: 100%;
}

.techStackTitle {
    font-weight: bold;
    text-transform: uppercase;
}

img {
    max-width: 100%;
    display: block;
    background: #ddd;
    border-radius: 2%;
}

#lastImagesDiv {
    display: flex;
    margin-top: 2%;
}

#imgLeft {
    width: 49%;
    margin-right: 2%;
}

#imgRight {
    width: 49%;
    margin-right: 2%;
}

@media (min-width: 800px) {
    #lastImagesDiv {
        display: block;
    }

    #imgLeft {
        margin-bottom: 2%;
        width: 100%;
    }

    #imgRight {
        width: 100%;
    }

    #techStack {
        width: 30vw;
        font-size: 125%;
    }
}